<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Meadowlark Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    {{{_sections.head}}}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/vendor/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    {{#if flash}}
        <div class="alert alert-dismissible alert-{{flash.type}}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{flash.intro}}</strong>{{{flash.message}}}
        </div>
    {{/if}}

    <header>
        <img src="/images/logo.png" alt="Logo">
    </header>

    {{{ body }}}

    {{{_sections.jquery}}}
    {{#if showTests }}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            const assert = chai.assert;
        </script>
        <script src="/qa/tests-crosspage.js"></script>
        {{#if pageTestScript}}
            <script src="{{ pageTestScript }}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>
